@(coupons: List[Coupon], connected:Boolean, msg:String)

<!DOCTYPE html>
<html lang="en">

 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Index</title>

   <!-- Bootstrap core CSS -->
  <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">

   <!-- Custom styles for this template -->
  <link href="@routes.Assets.versioned("stylesheets/3-col-portfolio.css")" rel="stylesheet">
 </head>
 <body>
   <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
   <div class="container">
    <a class="navbar-brand" href="/">Coupons</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
     <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
       <a class="nav-link" href="/">Home
        <span class="sr-only">(current)</span>
       </a>
      </li>
      @if(connected == true) {
       <li class="nav-item">
        <a class="nav-link" href="/management">Management Area</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
       </li>
      }else {
       <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
       </li>
      }
     </ul>
    </div>
   </div>
  </nav>

   <!-- Page Content -->
  <div class="container">
    <!-- Page Heading -->
   <h1 class="my-4">@msg
    <br><small>Here is a list of coupons our users have added and if you want - you can register and add a coupon yourself!</small>
   </h1>

   <div class="row">
    @for(coupon<-coupons){
    <div class="col-lg-4 col-sm-6 portfolio-item">
     <div class="card h-100">
      <img class="card-img-top" style="height: 225px; width: 100%;" src="@routes.Assets.versioned("images/"+coupon.getPicPath)" alt=""></a>
      <div class="card-body">
       <h4 class="card-title">
        <p class="card-text">@coupon.getName()</p>
       </h4>
       <p class="card-text">@coupon.getDescription()</p>
      </div>
     </div>
    </div>
    }
   </div>
    <!-- /.row -->

  </div>
   <!-- /.container -->

   <!-- Footer -->
  <footer class="py-5 bg-dark">
   <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Coupons Project Scala Course HIT</p>
   </div>
    <!-- /.container -->
  </footer>

   <!-- Bootstrap core JavaScript -->
  <script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
  <script src="@routes.Assets.versioned("javascripts/bootstrap.bundle.min.js")"></script>
 </body>

</html>